
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
  <button (click)="exportAsXLSX()" class="btn formsubBtn fa fa-file-excel-o" style="font-size: 14px; float:right; margin-right:15px;">
          &nbsp;<span font-family="Roboto-Bold"> Export</span> 
  </button>
  
</div>

<ag-grid-angular 
    style="width: 550px; height: 500px;" 
    class="ag-theme-balham"
    [rowData]="rowData" 
    [columnDefs]="columnDefs">
</ag-grid-angular>
<!-- <a  [href]="fileUrl" download="file.pdf">DownloadFile</a> -->
<div  > 
 







